<!DOCTYPE html>
{% load static %}
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}noponto - Sua Viagem Começa Aqui{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'noponto/css/style.css' %}">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="navbar">
        <div class="container">
            <div class="logo">
                <a href="{% url 'index' %}"
                    style="text-decoration: none; font-size: 1.5rem; font-weight: 800; color: var(--secondary-color);">
                    Bus<span style="color: var(--primary-color);">Go</span>
                </a>
            </div>
            
        </div>
    </header>

    <main>
        {% block content %}
        {% endblock %}
         <div vw class="enabled">
         <div vw-access-button class="active"></div>
         <div vw-plugin-wrapper>
         <div class="vw-plugin-top-wrapper"></div>
         </div>
         </div>

       <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
        <script>  new window.VLibras.Widget('https://vlibras.gov.br/app');  </script>
    </main>

    <footer class="footer">
        <div class="container">
            <div class="footer-grid">
                <div class="footer-info">
                    <div class="logo" style="margin-bottom: 20px;">
                        <a href="{% url 'index' %}"
                            style="text-decoration: none; font-size: 1.5rem; font-weight: 800; color: var(--white);">
                            Bus<span style="color: var(--primary-color);">Go</span>
                        </a>
                    </div>
                    <p> Milhares de viajantes já encontram aqui a melhor rota todos os dias economizando tempo e dinheiro em cada viagem..</p>
                </div>
    
                
            </div>
            <div class="footer-bottom">
                <p>&copy; Noponto. Todos os direitos reservados.</p>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>